@use './colors' as c;

@mixin flexCenter($direction) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;    
}

@mixin backgroundCenter {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;    
}

@mixin buttonStyle {
    background: transparent;
    outline: none;
    cursor: pointer;
    border: 2px solid c.$textGreen;
    color: c.$textGreen;
    padding: 1rem 1rem;
    border-radius: 1rem;
    
    &:hover{
        background-color: c.$textGreen;
        color: c.$white;
    }
    
    @media (min-width:1250px){
        border-radius: 1.5rem;
    }
}

@mixin  maxWidth {
    max-width: 600px;
    margin: auto;
    
    @media (min-width:1250px) {
        max-width: 60vw;        
    } 
}