@use "../abstracts" as a;
@use "../components/nav";
@use "../components/filterBar";
@use "../components/jobsGrid";
@use "../components/jobCard";
@use "../components/loader";
@use "../components/_loadMoreBtn";

.jobs-page{
    min-height: 100vh;
    background-color: a.$bgGrey;

    @media (min-width:600px) {
        padding-bottom: 0;        
    }
    
    .jobs-section{
        @include a.maxWidth;
        @include a.flexCenter(column);
        padding: 1rem 1rem 4rem;
        
        @media (min-width:900px) {
            max-width: 1000px;            
        }
        
        @media (min-width:2000px){
            max-width: 1800px;
        }
    }
}