@use "../abstracts" as a;
@use "../components/nav";
@use "../components/filterBar";
@use "../components/jobsGrid";
@use "../components/jobCard";
@use "../components/loader";
@use "../components/_loadMoreBtn";

.jobs-page{
    min-height: 100vh;
    background-color: a.$bgGrey;

    @include a.responsive(tablet) {
        padding-bottom: 0;        
    }
    
    .jobs-section{
        @include a.maxWidth;
        @include a.flexCenter(column);
        padding: 1rem 1rem 4rem;
        
        @include a.responsive(large-tab) {
            max-width: 1000px;            
        }
        
        @include a.responsive(tv){
            max-width: 1800px;
        }
    }
}