@use "../abstracts" as a;
@use "../components/nav";
@use "../components/landingMain";
@use "../components/partners";


.landing-page{
    min-height: 100vh;
    @include a.backgroundCenter;
    padding-bottom: 1rem;

    @media (min-width:600px) {
        padding-bottom: 0;        
    }
}