@use "../abstracts" as a;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

main{
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
    color: a.$textGreen;
    
    @include a.responsive(tablet) {
        padding-top: 0;
        padding-bottom: 0;            
    }

    h1{
        margin: 0.5rem 0;
        line-height: 1.4;
    }
    
    button{
        margin-top: 1rem;
        @include a.buttonStyle;
        
        @include a.responsive(pc) {
            font-size: 26px;
        }
    }
    
    .landing-page-large-screen{
        @include a.backgroundCenter;
        min-height: calc(100vh - a.$navHeight);
        position: relative;
        
        > div.bg-blur{
            background-color: a.$bgBlurWhite;
            position: absolute;
            inset: 0;
            @include a.flexCenter(column);
            align-items: flex-start;
            padding-left: 1rem;
        }
        
        .landing-text{
            @include a.maxWidth;
            margin: 0;
            font-size: 14px;
            
            @include a.responsive(pc) {
                font-size: 24px;
            } 
        }
    }
    
    .landing-page-card{
        @include a.maxWidth;
        background-color: a.$white;
        padding: 1rem 1rem 2rem;
        border-radius: a.$cardBorderRadius;
        margin: a.$landingPageCardMargin;
        
        .landing-image{
            img{
                width: 100%;
                border-radius: a.$cardBorderRadius;
            }
            
            figcaption{
                font-size: 14px;
                
                @include a.responsive(pc) {
                    font-size: 24px;
                }  
            }
        }
    }
}