@use "../abstracts" as a;
.partners{
    @include a.maxWidth;
    @include a.flexCenter(row);
    background-color: a.$white;
    border-radius: a.$cardBorderRadius;
    margin: a.$landingPageCardMargin;
    
    @include a.responsive(tablet) {
        margin: 0;
        border-radius: 0;
        max-width: none;
        background-color: a.$white
    }
    
    a{
        width: 40%;
        margin: auto;
        
        svg{
            width: 100%;
        }
    }
}